<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
    <form [formGroup]="compraForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <p class="lead">Seus dados:</p>
        </div>

        <div class="col-xs-12 col-sm-3">
          <span class="help-block pull-right has-error-block" *ngIf="compraForm.hasError('emailsNotMatch')"><i class="fa fa-remove"></i> E-mails não conferem</span>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-content errorMessage="Campo Obrigatório e no minimo com 5 caracteres"
                            label = "Nome">
            <input class="form-control" placeholder="Nome" formControlName="name" autocomplete="off"/>
          </mt-input-content>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-content label = "E-mail" errorMessage="E-mail inválido">
            <input class="form-control" placeholder="E-mail" formControlName="email" autocomplete="off"/>
          </mt-input-content>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-content label = "Confirmação e-mail" errorMessage="E-mail inválido">
            <input class="form-control" placeholder="Confirmação E-mail" formControlName="confirmationEmail" autocomplete="off"/>
          </mt-input-content>
        </div>
      </div>
      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-content errorMessage="Campo Obrigatório e no minimo com 5 caracteres"
                            label = "Endereço">
            <input class="form-control" placeholder="Endereço" formControlName="address" autocomplete="off"/>
          </mt-input-content>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-content label = Número errorMessage="Obrigatório e somente números">
            <input class="form-control" placeholder="Número" formControlName="number" autocomplete="off" />
          </mt-input-content>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-content>
            <input type="text" class="form-control" formControlName="optionalAddress" placeholder="Complemento">
          </mt-input-content>

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <mt-item-compra [itens]="itensCompra()" (aumentarQtd)="aumentarQtd($event)"
          (diminuirQtd)="diminuirQtd($event)"
          (remover)="remover($event)"></mt-item-compra>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radio [options]="pagamentos" formControlName="pagamento"></mt-radio>
          </div>

        </div>
        <!-- /.col -->
        <mt-frete [frete]="frete" [valorItens]="valorItens()"></mt-frete>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success pull-right"
                [disabled]="!compraForm.valid  || itensCompra().length === 0"
                (click)="checkCompra(compraForm.value)"><i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>
<!-- FIM DO CONTEUDO-->
