<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
    {{form.valid | json}}
    {{form.value | json}}
    <form #form = "ngForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-content errorMessage="Campo Obrigatório e no minimo com 5 caracteres"
                            label = "Endereço">
            <input class="form-control" placeholder="Endereço" name="address" ngModel required minlength="5" autocomplete="off"/>
          </mt-input-content>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-content label = Número errorMessage="Obrigatório e somente números">
            <input class="form-control" placeholder="Número" name="number" ngModel required autocomplete="off" pattern="^[0-9]*$"/>
          </mt-input-content>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-content>
            <input type="text" class="form-control" name = "optional" ngModel placeholder="Complemento">
          </mt-input-content>

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <mt-item-compra [itens]="itensCompra()" (aumentarQtd)="aumentarQtd($event)"
          (diminuirQtd)="diminuirQtd($event)"
          (remover)="remover($event)"></mt-item-compra>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radio [options]="pagamentos" name="pagamento" ngModel required></mt-radio>
          </div>

        </div>
        <!-- /.col -->
        <mt-frete [frete]="frete" [valorItens]="valorItens()"></mt-frete>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success pull-right" [disabled]="!form.valid  || itensCompra().length === 0" ><i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>
<!-- FIM DO CONTEUDO-->
